* {
	font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

window#waybar {
	background-color: transparent;
	color: ;
	transition-property: background-color;
	transition-duration: .5s;
}
